[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
certifi = "==2023.7.22"
chardet = "==5.2.0"
charset-normalizer = "==3.2.0"
crispy-bootstrap5 = "==2023.10"
django = "==4.2.4"
django-crispy-forms = "==2.1"
django-svg-templatetag = "==1.0.1"
idna = "==3.4"
pillow = "==10.0.0"
psycopg2-binary = "==2.9.9"
pytz = "==2023.3"
requests = "==2.31.0"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
urllib3 = "==2.0.4"

[dev-packages]

[requires]
python_version = "3.12"
